@{
    ViewBag.Title = "Home";
}


<h2><span>viktoria</span> minka</h2>
<hr />
<div class="clearboth"></div>
<h3>logotype, illustration, poster, easel lithography, booklets, calendar, pictograms</h3>
